h1{
    text-align: center;
    margin-top: 10px;
    color: #2E8B57;
    font-size: 50px;
}
.allergy{
    color: red;
}
.body{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}
p{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    margin-top: 5cqb;
}
.today-menu{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin-left: 830px;
    margin-top: 280px;
}
.logo{
    width: 200px;
}